<script src="<%=basePath%>/manger/libs/jquery.min.js"></script>
<script src="<%=basePath%>/manger/plugins/layer/layer.js"></script>
<script src="<%=basePath%>/manger/libs/bootstrap.min.js"></script>
<script src="<%=basePath%>/manger/libs/vue.min.js"></script>
<script src="<%=basePath%>/js/validate/jquery.validate.min.js"></script>
<script src="<%=basePath%>/js/validate/localization/messages_zh.min.js"></script>
<script src="<%=basePath%>/manger/plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="<%=basePath%>/manger/js/common.js"></script>