<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="<%=basePath%>/manger/css/bootstrap.min.css">
<link rel="stylesheet" href="<%=basePath%>/manger/css/font-awesome.min.css">
<link rel="stylesheet" href="<%=basePath%>/manger/plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="<%=basePath%>/manger/plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" href="<%=basePath%>/manger/css/main.css">
<style>
.error{color: red;}
</style>
