package ${package}.controller;

import java.util.List;
import java.util.Map;
import org.apache.shiro.authz.annotation.RequiresPermissions;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.PathVariable;
import org.springframework.web.bind.annotation.RequestBody;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RequestParam;
import org.springframework.stereotype.Controller;
import ${package}.entity.${className};
import ${package}.service.${className}Service;
import org.springframework.web.bind.annotation.ResponseBody;
import com.app.common.utils.Query;
import com.app.common.utils.Result;
import com.app.sys.vo.PageInfo;
import com.app.sys.controller.AbstractController;
/**
 * @author ${author}
 * @Description: TODO(${comments})
 * @date ${datetime}
 */
@Controller
@RequestMapping("/${pathPrefix}${pathName}")
public class ${className}Controller extends AbstractController{

	@Autowired
	private ${className}Service ${classname}Service;
	
	/**
	 * 列表
	 */
	@RequestMapping("/list.do")
	public String list(@RequestParam Map<String, Object> params,ModelMap model){
		//查询列表数据
        Query query = new Query(params);

		List<${className}> ${classname}List = ${classname}Service.queryList(query);
		int total = ${classname}Service.queryTotal(query);
		
		PageInfo pageInfo=new PageInfo(query.getPage()+"", query.getLimit()+"");
		pageInfo.setList(${classname}List);
		pageInfo.getPage(total, query.getLimit());
		model.addAttribute("pageInfo", pageInfo);
		
		model.addAttribute("params", params);	
		
		return "/manger/${classname}/list";
	}
	
	
	/**
	 * 修改
	 */
	@RequestMapping("/edit.do")
	public String edit(Long id,ModelMap model){
		${className} ${classname} = ${classname}Service.queryObject(${pk.attrname});
		model.addAttribute("${classname}", ${classname});	
		return "/manger/${classname}/edit";
	}
	
	/**
	 * 新增
	 */
	@RequestMapping("/add.do")
	public String add(ModelMap model){
		return "/manger/${classname}/add";
	}
	
	/**
	 * 保存
	 */
	@RequestMapping("/save.do")
	public String save(@RequestBody ${className} ${classname}){
		${classname}Service.save(${classname});
		
		return seccess;
	}
	
	/**
	 * 修改
	 */
	@RequestMapping("/update.do")
	public String update( ${className} ${classname}){
		${classname}Service.update(${classname});
		return seccess;
	}
	
	/**
	 * 删除
	 */
	@ResponseBody
	@RequestMapping("/delete.do")
	public Result delete( ${pk.attrType}[] ${pk.attrname}){
		${classname}Service.deleteBatch(${pk.attrname});
		
		return Result.ok();
	}
	
}
